@font-face {
    font-family: 'martel_sansdemibold';
    src: url('martelsans-demibold-webfont.eot');
    src: url('martelsans-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('martelsans-demibold-webfont.woff2') format('woff2'),
         url('martelsans-demibold-webfont.woff') format('woff'),
         url('martelsans-demibold-webfont.ttf') format('truetype'),
         url('martelsans-demibold-webfont.svg#martel_sansdemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

