.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background: darkorchid;
    border: 4px dashed hotpink;
}

.left_of_card{
    width: 100px;
    height: 100px;

    margin: 1rem;
    padding: 0;

    grid-column: 1 / 2;
}

.middle_of_card{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0;
    padding: 0;

    text-align: left;
}
.middle_of_card > .wine_name{
    margin: auto;
    padding: 0;
}
.middle_of_card > .wine_year{
    margin: auto;
    padding: 0;
}
.middle_of_card > .wine_year{
    margin: auto;
    padding: 0;
}

.right_of_card{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0;
    padding: 0;
}
.right_of_card > button{
    margin-top: 0.5rem;
    margin-left: auto;
    padding: 0;
}
.right_of_card > .num_of_bottles{
    margin-top: auto;
    padding: 0;
}
