.card{
    height: 160px;

    flex-basis: 300px;
    flex-grow: 0.2;
    flex-shrink: 1;

    justify-content: space-between;
    flex-wrap: nowrap;

    display: flex;
    flex-direction: row;

    background: whitesmoke;
    /* outline: lightslategrey solid 1px; */
    border-style: none;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;

    z-index: 0;
}

/* Left part of the card */
.left_of_card{
    display: flex;
    align-self: center;

    width: 100px;
    height: 80%;

    margin: 1rem;
    padding: 0;

    outline: whitesmoke solid 2px;
    outline-offset: -5px;
}


/* Middle part of the card */
.middle_of_card{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0;
    padding: 0;

    text-align: left;
}

/* Right part of the card */
.right_of_card{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0.5rem;
}
.right_of_card > button {
    background: lightgrey;

    width: 10ch;
    height: 4ch;

    border-style: none;
    border-radius: 5px;
}
.right_of_card > button:active,
.right_of_card > button:hover {
    background: var(--color-accent, red);
}
