.detailsView{
    position: fixed;
    top: 50%;
    left: 50%;

    z-index: 2;

    margin: 0;
    padding: 0;

    background: whitesmoke;
    font-size: 2rem;

    box-shadow: slategrey 8px 8px 8px;
    border: darkslategrey solid 1px;

    min-width: 400px;
    width: 80%;
    max-width: 42rem;
    min-height: 50%;
    max-height: 90vh;

    transition: 0.3s ease-in-out;
}
.detailsView.active{
    transform: translate(-50%, -50%) scale(1);
}
.detailsView.inactive{
    transform: translate(-50%, -50%) scale(0);
}

/* top / header part of the view */
.details-top{
    position: sticky;
    top: 0;
    z-index: 3;

    background: whitesmoke;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    /* FONT */
    font-size: 1rem;
}
.details-top > img{
    width: 150px;
    height: 150px;
}

.basicInfo{
    width: 50%;
}

/* Exit button */
.details-exit{
    height: 3rem;
    width: 3rem;

    background: none;
    border: none;
    font-size: 2rem;

    color: black;

    padding: 0;
    margin: 0;
}
.details-exit:hover,
.details-exit:active{
    color: red;
}

hr.afterTop{
    width: 80%;
    color: darkslategrey;
}

/* Main part of the view */
.details-main,
.description,
.invoices {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.details-main > hr{
    width: 60%;
    color: lightgrey;
}

.description > h1,
.invoices > h1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    justify-content: space-between;

    padding: 1rem;
    margin: 0;

    font-weight: normal;
    font-size: 1.5rem;
}

.description > p,
.invoices > p {
    display: block;

    max-width: 64ch;
    max-height: 16ch;

    overflow-y: scroll;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    text-align: left;
    font-size: 1rem;

    outline: var(--color-accent, red) solid 1px;
}

/* Folding button for extra text */
.foldingBtn{
    background: var(--color-main, red);
    color: black;

    font-family: sans-serif;
    font-weight: bold;

    border-radius: var(--border-radius, 5px);
    border-style: none;

    width: 9ch;
    height: 4ch;
}
.foldingBtn:active,
.foldingBtn:hover{
    background: var(--color-accent, orange);
}
