:root{
    /* Colors */
    --color-main: indianred;
    --color-accent: lightcoral;

    /* Fonts */
    font-size: 16px;
    /* font-style: normal; */
    font-family: sans-serif;
}

body{
    background: var(--color-main, green);

    margin: 0;
    padding: 0;
}

#app {
    text-align: center;

    margin: 0;
    margin-bottom: 2rem;
    padding: 0;

    z-index: 0;
}

button{
    cursor: pointer;

    font-style: normal;
}
