#mySidenav {
    height: 100%;
    width: 0;

    padding-top: 60px;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 3;

    background: black;

    overflow-x: hidden;

    transition: 0.5s;
}

#mySidenav > a {
    display: block;

    padding: 8px 8px 8px 32px;

    font-size: 2rem;
    text-decoration: none;
    color: grey;

    transition: 0.3s;
}

#mySidenav > a:hover,
#mySidenav > a:active{
    color: whitesmoke;
}

#mySidenav > .closebtn {
    color: antiquewhite;

    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 2rem;
    background: none;
    border: none;

    transition: top 0.5s;
}
#mySidenav > .closebtn:active,
#mySidenav > .closebtn:hover{
    color: red;
}
