nav#topBar{
    position: sticky;
    background: var(--color-main);
    
    z-index: 3;
    margin: 0 auto auto;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    max-width: var(--max-width-of-app, 1000px);
    
    transition: 0.2s top ease-in-out;
}

nav#topBar > form {
    min-width: 300px;
    width: 45%;
    height: 100%;

    margin-left: 1rem;

    font-size: 1.25rem;

    border-radius: var(--border-radius, 5px);
    
    display: flex;
    flex-basis: 400px;
    gap: 0.4rem;
}

nav#topBar > form > div {    
    width: 100%;
}

nav#topBar > form > div > select{
    padding: 0.5rem;
    
    width: 12rem;
    
    background: var(--color-accent);
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.1rem;
    
    border: none;
    border-radius: var(--border-radius);
}

::placeholder {
    color: rgba(250, 250, 250, 0.6);
}

nav#topBar > * {
    height: 3rem;

    margin: auto 0;
    
    text-decoration: none;
    text-align: center;
}

nav#topBar > button {
    color: lightgrey;
    font-size: 2.5rem;

    background: none;
    border: none;
}

nav#topBar > form ~ div{
    margin: auto 1rem auto auto;
    display: flex;
    flex-direction: row;
    
    gap: 0.4rem;
}

nav#topBar > div > a {
    margin: 0;
    padding: 0;
    height: 100%;

    color: lightgrey;
    font-family: monospace;
    font-size: 2.5rem;
    
    text-decoration: none;
}

nav#topBar > div > a:hover,
nav#topBar > div > a:active{
    color: white;
}


/* Filtering */
#stored,
#finished {
    background: lightgrey;
    
    font-size: 1.5rem;
    font-weight: bold;
    
    border: none;
    border-radius: var(--border-radius);
    
    width: 10rem;
    height: 100%;
}

#stored:hover,
#stored:active,
#finished:hover,
#finished:active {
    background: var(--color-accent);
}