#upButton{
    position: fixed;
    z-index: 1;

    display: none;

    /* POSITION */
    bottom: 1rem;
    right: 1rem;

    padding: 0;
    margin: 0;

    /* SIZE */
    width: 4.5rem;
    height: 4.5rem;

    /* ROUNDING CORNERS */
    border: none;
    border-radius: 50%;

    background: lightpink;

    font-size: 1.5rem;
}

#upButton:active,
#upButton:hover{
    background: var(--color-accent, red);

    box-shadow: 4px 4px 8px black;
}
