#upButton{
    position: sticky;

    /* POSITION */
    bottom: 0.5rem;
    right: 0;
    left: auto;

    /* SIZE */
    width: 5rem; /* BUG: For some reason the limit is 53px */
    height: 5rem;

    /* ROUNDING CORNERS */
    border-radius: 50%;
    border: none;

    background: indianred;

    font-size: 3rem;

    padding: 0;
    margin: 0;

    z-index: 20;
}

#upButton:active,
#upButton:hover{
    background: darkred;

    box-shadow: 8px 8px 8px black;
}
