@font-face {
    font-family: 'martel_sansbold';
    src: url('martelsans-bold-webfont.eot');
    src: url('martelsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('martelsans-bold-webfont.woff2') format('woff2'),
         url('martelsans-bold-webfont.woff') format('woff'),
         url('martelsans-bold-webfont.ttf') format('truetype'),
         url('martelsans-bold-webfont.svg#martel_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

